/* ---------------------------------------------------------------------
CONTAINER SLEEVE
------------------------------------------------------------------------ */
$cntrSleeve-BASE_PAD: 20px;

.cntrSleeve {
    padding: $cntrSleeve-BASE_PAD;
}

.cntrSleeve_gutterLg {
    padding: ($cntrSleeve-BASE_PAD * 2);
}