/* ---------------------------------------------------------------------
SCAFFOLD
------------------------------------------------------------------------ */

.scaffold {
	display: flex;
	height: 100%; /* needed for IE10 */
	min-height: 100%;
	flex-direction: column;
}

.scaffold-hd {
	flex: 0 0 auto;
}

.scaffold-bd {
	flex: 1 0 auto;
}

.scaffold-ft {
    margin: 0;
    padding: 0;
}