/* ---------------------------------------------------------------------
VERTICAL RHYTHM
------------------------------------------------------------------------ */
$vr-BASE: 30;
$vr-INTERVAL: 10;
$vr-VARIANT_COUNT: 6;

.vr {
    margin-bottom: ($vr-BASE * 1px);
}

@for $i from 2 through $vr-VARIANT_COUNT {
    .vr_space#{$i}x {
        margin-bottom: (($vr-BASE + ($vr-INTERVAL * $i)) * 1px);
    }
}