/* ---------------------------------------------------------------------
EXPANSE PANEL
------------------------------------------------------------------------ */
$expansePanel-TRANS: 0.5s all ease;

.expansePanel {
	display: block;
}

.expansePanel-port {
	display: block;
	overflow: hidden;

	-webkit-transition: $expansePanel-TRANS;
	-moz-transition: $expansePanel-TRANS;
	-ms-transition: $expansePanel-TRANS;
	-o-transition: $expansePanel-TRANS;
	transition: $expansePanel-TRANS;
}

.expansePanel-latch {
	display: block;
}

.isExpanded {
	> .expansePanel-port {
		height: auto;
		min-height: 100px;
	}
}

.isCollapsed {
	> .expansePanel-port {
		height: 0;
		min-height: 0;
	}
}