/* ---------------------------------------------------------------------
SCAPE SLIDER
------------------------------------------------------------------------ */
$scapeSlider-TRANS: 0.2s all ease;

.scapeSlider {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.scapeSlider-port {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.scapeSlider-port-media {
    width: auto;
    transform: translate(0, 0);

    -webkit-transition: $scapeSlider-TRANS;
    -moz-transition: $scapeSlider-TRANS;
    -ms-transition: $scapeSlider-TRANS;
    -o-transition: $scapeSlider-TRANS;
    transition: $scapeSlider-TRANS;
}

.scapeSlider-range {
    display: block;
    width: 100%;
}
