{{#extend "layout"}}
    {{#content "body" mode="append" }}

    <div class="vr">
        <button class="expansePanel-latch" data-trigger="TestExp-toggle">
            Toggle Expandable External
        </button>
    </div>

    <div class="vr vr_space3x">
        <div class="expansePanel isCollapsed"
            data-component="Expandables"
            data-init-state="closed"
            data-trigger-id="TestExp">
            <button class="expansePanel-latch vr" data-trigger="toggle">
                Toggle Expandable 1
            </button>

            <button class="expansePanel-latch vr" data-trigger="toggle">
                Toggle Expandable 2
            </button>

            <div class="expansePanel-port" data-child="drawer">
                <p class="vr">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porttitor rhoncus vehicula. In et nibh interdum, pharetra diam a, ultrices nulla. Phasellus at nibh pharetra, lobortis nisi et, viverra nunc. Fusce sit amet nisl pulvinar, aliquam libero sed, faucibus augue. Phasellus convallis quis nibh quis placerat. Donec sed lorem accumsan, eleifend orci quis, eleifend metus. Vestibulum blandit felis vel tellus facilisis ultrices. Pellentesque accumsan id sem at suscipit. Phasellus quis ligula auctor, tincidunt nunc vitae, semper mi. Pellentesque nunc nunc, tincidunt vitae tortor non, scelerisque maximus odio. Cras cursus eget metus et pulvinar. Praesent fermentum ullamcorper lobortis. Nam at quam vel mi dictum blandit. Pellentesque a lorem ac lectus malesuada mattis. Donec dapibus pretium mollis.</p>

                <p class="vr">Sed gravida magna in lorem mattis scelerisque. Nullam ac nulla ultrices, molestie odio id, sagittis magna. Aenean ullamcorper est vitae nisl mollis, ac sollicitudin tortor ultrices. Duis vitae ante eu justo pellentesque accumsan. Suspendisse in tincidunt dolor. Suspendisse faucibus pharetra bibendum. Nunc tempus est id laoreet blandit. Integer non semper sapien. Morbi auctor, dui ut aliquet tristique, est ante venenatis orci, a commodo neque risus vitae tellus. Cras quis neque fermentum, tristique dolor a, ultrices urna.</p>

                <p class="vr">Cras convallis posuere justo vel ullamcorper. Maecenas venenatis dui vulputate felis finibus luctus. In at blandit ligula. Maecenas et volutpat urna. Phasellus in elit fringilla, tristique urna a, ullamcorper purus. Sed gravida pharetra nibh vel placerat. Vestibulum ut metus massa. In vitae arcu massa. Nullam finibus enim et nibh sagittis mollis. Ut ullamcorper mauris id placerat commodo. Quisque commodo turpis ut nibh luctus tempus eu ut urna.</p>

                <p class="vr">Praesent consequat dui vel tincidunt mattis. In consequat congue velit, at posuere diam suscipit vitae. Ut nec rutrum magna. Sed sit amet odio eu turpis feugiat tristique. Sed efficitur ligula nisl, sit amet suscipit elit porta et. Donec commodo massa sit amet consectetur molestie. Sed blandit, mauris ut fringilla accumsan, lorem lorem gravida tellus, sed iaculis nisi arcu in urna. Maecenas mattis nibh sodales, rhoncus turpis convallis, tempus dolor. Donec non pretium ex, non porta nulla.</p>

                <p class="vr">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In et fringilla leo. Curabitur ullamcorper cursus massa a mollis. Cras sed interdum est. Nulla tristique tempus lacus et malesuada. Duis in mauris lacus. Nunc dignissim facilisis lacus, quis lacinia augue feugiat ac. Aliquam erat volutpat. Donec sagittis libero at metus suscipit, a lobortis nibh mattis. In bibendum mattis dolor, sit amet mollis purus faucibus et. Cras hendrerit euismod orci, at malesuada lacus aliquam ut. Vestibulum sit amet tellus et odio volutpat cursus auctor quis magna. Nulla vehicula et lorem a accumsan. Sed lacus nulla, pharetra eget facilisis eget, viverra sollicitudin enim. Fusce vel leo gravida, ullamcorper mi sollicitudin, fringilla lectus. Etiam in ipsum enim.</p>
            </div>
        </div>
    </div>

    <div class="vr vr_space3x">
        <div class="scapeSlider"
            data-component="SlideScape"
            data-pos-dir="left"
            data-slide-dir="left-to-right">
            <div class="scapeSlider-port">
                <img src="http://fillmurray.com/g/1400/200"
                    class="scapeSlider-port-media"
                    data-child="scape">
            </div>

            <input type="range"
                min="0"
                max="100"
                value="0"
                class="scapeSlider-range"
                data-trigger="change">
        </div>
    </div>

    {{/content}}
{{/extend}}
